BODY {
	font-family : times, times new, times new roman, serif;
}

p  {
	font-size : 1em;
	font-weight : normal;
	margin-top : 5px;
	margin-bottom : 15px;
}

h1  {
	font-size : 200%;
	font-family : helvetica, arial, sans-serif;
	font-weight : bold;
	margin-top : 5;
}

h2  {
	font-size : 150%;
	font-family : helvetica, arial, sans-serif;
	font-weight : bold;
	margin-bottom : 0;
}

h3  {
	font-size : 125%;
	font-family : helvetica, arial, sans-serif;
	font-weight : bold;
	margin-bottom : 0;
}


h4  {
	font-size : 110%;
	font-family : helvetica, arial, sans-serif;
	font-weight : bold;
	margin-bottom : 0;
}

h5  {
	font-size : 100%;
	font-family : helvetica, arial, sans-serif;
	font-weight : bold;
	margin-bottom : 0;
}

a  {}

a:visited  {}

a:active  {}

a:hover  {}

a.glossary {
	font-style : normal;
	text-decoration : none;
	color : navy;
}

a.button {
	font-style : normal;
	text-decoration : none;
	font-family : sans-serif;
	color : black;
}

a.button:visited  {
	color : black;
}

a.button:active  {
	color : black;
}

a.button:link  {
	color : black;
}

a.schrored {
	font-style : normal;
	text-decoration : none;
	color : #A41128 ;
	font-family : sans-serif;
}

body  {
	background-color : white;
}

h3.TOC  {
	margin-left : 40px;
	font-size : medium;
	font-family : sans-serif;
	font-weight : bold;
}

ul.navbar  {
	list-style-type : square;
}

p.navbar  {
	font-size : 0.9em;
	margin-left : 1em;
	text-indent : -1em;
	margin-top : 3px;
	margin-bottom : 3px;
}

.indent  {
	margin-left : 40px;
}

dl  {
	margin-top : 0.5em;
	margin-bottom : 0.3em;
}

dt  {
	font-size : 1em;
	margin-bottom : 2px;
}

dd  {
	font-size : 1em;
	margin-bottom : 2px;
}

li {
	font-size : 1em;
}

li.navbar {
	margin-left : -1em;
}

th  {
	text-align : left;
	font-family : helvetica, arial, sans-serif;
	font-weight : bold;
	font-size : 0.9em;
	padding-left : 5px;
	padding-right : 5px;
	padding-top : 5px;
	padding-bottom : 5px;
}

caption  {
	text-align : left;
	font-family : helvetica, arial, sans-serif;
	font-style : italic;
	padding-top : 1em;
	padding-bottom : 10px;
}

tr  {
	vertical-align : top;
}

td {
	vertical-align : top;
	font-size : 1em;
	padding-left : 5px;
	padding-right : 5px;
}

td.button {
	border-top : 2px outset gray;
	border-bottom : 2px outset gray;
	border-left : 2px outset gray;
	border-right : 2px outset gray;
	padding-top : 0px;
	padding-bottom : 1px;
	padding-left : 6px;
	padding-right : 6px;
}

.buttonstyle {
	border-top : 2px outset silver;
	border-bottom : 2px outset silver;
	border-left : 2px outset silver;
	border-right : 2px outset silver;
}


.boxstyle {
	border-top : 2px inset silver;
	border-bottom : 2px inset silver;
	border-left : 2px inset silver;
	border-right : 2px inset silver;
}

pre  {
	font-size : 0.9em;
	font-family : courier, courier new, monospace;
}

sub {
	vertical-align: -30%; 
	font-size: 75%;
}

sup {
	vertical-align: 50%; 
	font-size: 75%;
}

.nav  {
	font-family : helvetica, arial, sans-serif;
	font-weight : bold;
	font-size : 12;
	text-align : center;
}

.codesmall  {
	font-size : x-small;
	font-family : courier, courier new, monospace;
}

.logo  {
	margin-top : 0;
	margin-bottom : 0;
}

tt  {
	font-size : 0.9em;
	font-family : courier, courier new, monospace;
}

code  {
	font-size : 0.9em;
	font-family : courier, courier new, monospace;
}

.GUI  {
	font-family : helvetica, arial, sans-serif;
	font-size : 90%;
	font-weight : normal;
}

.Keys  {
	font-family : helvetica, arial, sans-serif;
	font-size : 90%;
	font-weight : normal;
	font-variant : small-caps;
}

.HB  {
	font-family : helvetica, arial, sans-serif;
	font-weight : bold;
}

.sans  {
	font-family : helvetica, arial, sans-serif;
}

.sans90  {
	font-family : helvetica, arial, sans-serif;
	font-size : 90%;
}

.sans90b  {
	font-family : helvetica, arial, sans-serif;
	font-size : 90%;
	font-weight : bold;
}

.sans80  {
	font-family : helvetica, arial, sans-serif;
	font-size : 80%;
}

.small  {
	font-size : 90%;
}


.title  {
	font-weight : bold;
	font-family : helvetica, arial, sans-serif;
	color : #A41128;
	text-align : center;
	margin-top : 0;
	margin-bottom : 0;
	border-bottom-width : thin;
	border-style : none;
	border-left-width : 0;
	border-right-width : 0;
	border-top-width : 0;
	padding-bottom : 5;
	border-width : 0;
}

.mcprosup {
	vertical-align: 30%; 
	font-size: 75%;
}

.schrogreen {
	color : #002F30 ;
}

.schrored {
	color : #A41128 ;
}

span.hl1 {
	background-color : #7FFFD4;
}

span.hl2 {
	background-color : #FFB0F0;
}

span.hl3 {
	background-color : #66FFFF;
}

span.hl4 {
	background-color : #FFFF90;
}

span.hl5 {
	background-color : #FFDAB9;
}

span.hl6 {
	background-color : #C3FDB8;
}

span.hl7 {
	background-color : #FFA07A;
}

span.hl8 {
	background-color : #FFCC00;
}

span.hl9 {
	background-color : #D3D3D3;
}

span.hl10 {
	background-color : #87CEEB;
}
