/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Elements;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: solid;
	border-top-width: 1pt;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-right-style: solid;
	border-right-width: 1px;
	border-left-style: none;
	cell-padding-top: 2pt;
	cell-padding-left: 3pt;
	cell-padding-right: 1pt;
	cell-padding-bottom: 1pt;
	max-id: 4;
}

mcTableColumnStyle
{
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 2;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #000000;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 2;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #000000;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-Elements
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1pt;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	border-spacing: 0px 0px;
}

.TableStyle-Elements-Column-Column1
{
	
}

.TableStyle-Elements-Head-Header1
{
	
}

.TableStyle-Elements-HeadI-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 1pt;
	padding-top: 2pt;
	padding-bottom: 1pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Elements-HeadI-Column1-Header1 p
{
	
}

.TableStyle-Elements-HeadE-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 1pt;
	padding-top: 2pt;
	padding-bottom: 1pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Elements-HeadE-Column1-Header1 p
{
	
}

.TableStyle-Elements-HeadF-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 1pt;
	padding-top: 2pt;
	padding-bottom: 1pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Elements-HeadF-Column1-Header1 p
{
	
}

.TableStyle-Elements-HeadH-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 1pt;
	padding-top: 2pt;
	padding-bottom: 1pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Elements-HeadH-Column1-Header1 p
{
	
}

.TableStyle-Elements-HeadD-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 1pt;
	padding-top: 2pt;
	padding-bottom: 1pt;
}

.TableStyle-Elements-HeadD-Column1-Header1 p
{
	
}

.TableStyle-Elements-HeadC-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 1pt;
	padding-top: 2pt;
	padding-bottom: 1pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Elements-HeadC-Column1-Header1 p
{
	
}

.TableStyle-Elements-HeadB-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 1pt;
	padding-top: 2pt;
	padding-bottom: 1pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Elements-HeadB-Column1-Header1 p
{
	
}

.TableStyle-Elements-HeadA-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 1pt;
	padding-top: 2pt;
	padding-bottom: 1pt;
}

.TableStyle-Elements-HeadA-Column1-Header1 p
{
	
}

.TableStyle-Elements-HeadG-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 1pt;
	padding-top: 2pt;
	padding-bottom: 1pt;
}

.TableStyle-Elements-HeadG-Column1-Header1 p
{
	
}

.TableStyle-Elements-Foot-Footer1
{
	
}

.TableStyle-Elements-FootI-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 1pt;
	padding-top: 2pt;
	padding-bottom: 1pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Elements-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Elements-FootE-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 1pt;
	padding-top: 2pt;
	padding-bottom: 1pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Elements-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Elements-FootF-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 1pt;
	padding-top: 2pt;
	padding-bottom: 1pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Elements-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Elements-FootH-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 1pt;
	padding-top: 2pt;
	padding-bottom: 1pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Elements-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Elements-FootD-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 1pt;
	padding-top: 2pt;
	padding-bottom: 1pt;
}

.TableStyle-Elements-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Elements-FootC-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 1pt;
	padding-top: 2pt;
	padding-bottom: 1pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Elements-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Elements-FootB-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 1pt;
	padding-top: 2pt;
	padding-bottom: 1pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Elements-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Elements-FootA-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 1pt;
	padding-top: 2pt;
	padding-bottom: 1pt;
}

.TableStyle-Elements-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Elements-FootG-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 1pt;
	padding-top: 2pt;
	padding-bottom: 1pt;
}

.TableStyle-Elements-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Elements-Body-Body1
{
	
}

.TableStyle-Elements-BodyI-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 1pt;
	padding-top: 2pt;
	padding-bottom: 1pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Elements-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Elements-BodyE-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 1pt;
	padding-top: 2pt;
	padding-bottom: 1pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Elements-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Elements-BodyF-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 1pt;
	padding-top: 2pt;
	padding-bottom: 1pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Elements-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Elements-BodyH-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 1pt;
	padding-top: 2pt;
	padding-bottom: 1pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Elements-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Elements-BodyD-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 1pt;
	padding-top: 2pt;
	padding-bottom: 1pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Elements-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Elements-BodyC-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 1pt;
	padding-top: 2pt;
	padding-bottom: 1pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Elements-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Elements-BodyB-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 1pt;
	padding-top: 2pt;
	padding-bottom: 1pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Elements-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Elements-BodyA-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 1pt;
	padding-top: 2pt;
	padding-bottom: 1pt;
}

.TableStyle-Elements-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Elements-BodyG-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 1pt;
	padding-top: 2pt;
	padding-bottom: 1pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Elements-BodyG-Column1-Body1 p
{
	
}

.TableStyle-Elements-Body-Body2
{
	
}

.TableStyle-Elements-BodyI-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 1pt;
	padding-top: 2pt;
	padding-bottom: 1pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Elements-BodyI-Column1-Body2 p
{
	
}

.TableStyle-Elements-BodyE-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 1pt;
	padding-top: 2pt;
	padding-bottom: 1pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Elements-BodyE-Column1-Body2 p
{
	
}

.TableStyle-Elements-BodyF-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 1pt;
	padding-top: 2pt;
	padding-bottom: 1pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Elements-BodyF-Column1-Body2 p
{
	
}

.TableStyle-Elements-BodyH-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 1pt;
	padding-top: 2pt;
	padding-bottom: 1pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Elements-BodyH-Column1-Body2 p
{
	
}

.TableStyle-Elements-BodyD-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 1pt;
	padding-top: 2pt;
	padding-bottom: 1pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Elements-BodyD-Column1-Body2 p
{
	
}

.TableStyle-Elements-BodyC-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 1pt;
	padding-top: 2pt;
	padding-bottom: 1pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Elements-BodyC-Column1-Body2 p
{
	
}

.TableStyle-Elements-BodyB-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 1pt;
	padding-top: 2pt;
	padding-bottom: 1pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Elements-BodyB-Column1-Body2 p
{
	
}

.TableStyle-Elements-BodyA-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 1pt;
	padding-top: 2pt;
	padding-bottom: 1pt;
}

.TableStyle-Elements-BodyA-Column1-Body2 p
{
	
}

.TableStyle-Elements-BodyG-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 1pt;
	padding-top: 2pt;
	padding-bottom: 1pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Elements-BodyG-Column1-Body2 p
{
	
}


