/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Formatting;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 10.5pt;
	margin-bottom: 8.5pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
	cell-padding-top: 0pt;
	cell-padding-left: 2pt;
	cell-padding-right: 4pt;
	cell-padding-bottom: 4pt;
	max-id: 5;
}

mcTableColumnStyle
{
	separator-style: none;
	ruler-style: none;
	name: Column1;
	id: 0;
	cell-padding-right: 20px;
}

mcTableColumnStyle
{
	span: 1;
	id: 5;
	name: ColumnLast;
	type: Manual;
}

mcTableHeadStyle
{
	name: Header1;
	id: 3;
}

mcTableFootStyle
{
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-Formatting
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-right-style: none;
	border-right-color: #000000;
	border-top-style: none;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-color: #000000;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 10.5pt;
	margin-bottom: 8.5pt;
	border-spacing: 0px 0px;
}

.TableStyle-Formatting-Column-Column1
{
	
}

.TableStyle-Formatting-Column-ColumnLast
{
	
}

.TableStyle-Formatting-Head-Header1
{
	
}

.TableStyle-Formatting-HeadI-Column1-Header1
{
	padding-left: 2pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	padding-right: 20px;
	border-right-style: none;
}

.TableStyle-Formatting-HeadI-Column1-Header1 p
{
	
}

.TableStyle-Formatting-HeadE-Column1-Header1
{
	padding-left: 2pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	padding-right: 20px;
	border-right-style: none;
}

.TableStyle-Formatting-HeadE-Column1-Header1 p
{
	
}

.TableStyle-Formatting-HeadF-Column1-Header1
{
	padding-left: 2pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	padding-right: 20px;
	border-right-style: none;
}

.TableStyle-Formatting-HeadF-Column1-Header1 p
{
	
}

.TableStyle-Formatting-HeadH-Column1-Header1
{
	padding-left: 2pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	padding-right: 20px;
	border-right-style: none;
}

.TableStyle-Formatting-HeadH-Column1-Header1 p
{
	
}

.TableStyle-Formatting-HeadD-Column1-Header1
{
	padding-left: 2pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	padding-right: 20px;
}

.TableStyle-Formatting-HeadD-Column1-Header1 p
{
	
}

.TableStyle-Formatting-HeadC-Column1-Header1
{
	padding-left: 2pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	padding-right: 20px;
	border-right-style: none;
}

.TableStyle-Formatting-HeadC-Column1-Header1 p
{
	
}

.TableStyle-Formatting-HeadB-Column1-Header1
{
	padding-left: 2pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	padding-right: 20px;
	border-right-style: none;
}

.TableStyle-Formatting-HeadB-Column1-Header1 p
{
	
}

.TableStyle-Formatting-HeadA-Column1-Header1
{
	padding-left: 2pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	padding-right: 20px;
}

.TableStyle-Formatting-HeadA-Column1-Header1 p
{
	
}

.TableStyle-Formatting-HeadG-Column1-Header1
{
	padding-left: 2pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	padding-right: 20px;
}

.TableStyle-Formatting-HeadG-Column1-Header1 p
{
	
}

.TableStyle-Formatting-HeadI-ColumnLast-Header1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-Formatting-HeadI-ColumnLast-Header1 p
{
	
}

.TableStyle-Formatting-HeadE-ColumnLast-Header1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-Formatting-HeadE-ColumnLast-Header1 p
{
	
}

.TableStyle-Formatting-HeadF-ColumnLast-Header1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-Formatting-HeadF-ColumnLast-Header1 p
{
	
}

.TableStyle-Formatting-HeadH-ColumnLast-Header1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-Formatting-HeadH-ColumnLast-Header1 p
{
	
}

.TableStyle-Formatting-HeadD-ColumnLast-Header1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-Formatting-HeadD-ColumnLast-Header1 p
{
	
}

.TableStyle-Formatting-HeadC-ColumnLast-Header1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-Formatting-HeadC-ColumnLast-Header1 p
{
	
}

.TableStyle-Formatting-HeadB-ColumnLast-Header1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-Formatting-HeadB-ColumnLast-Header1 p
{
	
}

.TableStyle-Formatting-HeadA-ColumnLast-Header1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-Formatting-HeadA-ColumnLast-Header1 p
{
	
}

.TableStyle-Formatting-HeadG-ColumnLast-Header1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-Formatting-HeadG-ColumnLast-Header1 p
{
	
}

.TableStyle-Formatting-Foot-Footer1
{
	
}

.TableStyle-Formatting-FootI-Column1-Footer1
{
	padding-left: 2pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	padding-right: 20px;
	border-right-style: none;
}

.TableStyle-Formatting-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Formatting-FootE-Column1-Footer1
{
	padding-left: 2pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	padding-right: 20px;
	border-right-style: none;
}

.TableStyle-Formatting-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Formatting-FootF-Column1-Footer1
{
	padding-left: 2pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	padding-right: 20px;
	border-right-style: none;
}

.TableStyle-Formatting-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Formatting-FootH-Column1-Footer1
{
	padding-left: 2pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	padding-right: 20px;
	border-right-style: none;
}

.TableStyle-Formatting-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Formatting-FootD-Column1-Footer1
{
	padding-left: 2pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	padding-right: 20px;
}

.TableStyle-Formatting-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Formatting-FootC-Column1-Footer1
{
	padding-left: 2pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	padding-right: 20px;
	border-right-style: none;
}

.TableStyle-Formatting-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Formatting-FootB-Column1-Footer1
{
	padding-left: 2pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	padding-right: 20px;
	border-right-style: none;
}

.TableStyle-Formatting-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Formatting-FootA-Column1-Footer1
{
	padding-left: 2pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	padding-right: 20px;
}

.TableStyle-Formatting-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Formatting-FootG-Column1-Footer1
{
	padding-left: 2pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	padding-right: 20px;
}

.TableStyle-Formatting-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Formatting-FootI-ColumnLast-Footer1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-Formatting-FootI-ColumnLast-Footer1 p
{
	
}

.TableStyle-Formatting-FootE-ColumnLast-Footer1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-Formatting-FootE-ColumnLast-Footer1 p
{
	
}

.TableStyle-Formatting-FootF-ColumnLast-Footer1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-Formatting-FootF-ColumnLast-Footer1 p
{
	
}

.TableStyle-Formatting-FootH-ColumnLast-Footer1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-Formatting-FootH-ColumnLast-Footer1 p
{
	
}

.TableStyle-Formatting-FootD-ColumnLast-Footer1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-Formatting-FootD-ColumnLast-Footer1 p
{
	
}

.TableStyle-Formatting-FootC-ColumnLast-Footer1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-Formatting-FootC-ColumnLast-Footer1 p
{
	
}

.TableStyle-Formatting-FootB-ColumnLast-Footer1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-Formatting-FootB-ColumnLast-Footer1 p
{
	
}

.TableStyle-Formatting-FootA-ColumnLast-Footer1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-Formatting-FootA-ColumnLast-Footer1 p
{
	
}

.TableStyle-Formatting-FootG-ColumnLast-Footer1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-Formatting-FootG-ColumnLast-Footer1 p
{
	
}

.TableStyle-Formatting-BodyI-Column1-
{
	padding-left: 2pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	padding-right: 20px;
	border-right-style: none;
}

.TableStyle-Formatting-BodyI-Column1- p
{
	
}

.TableStyle-Formatting-BodyE-Column1-
{
	padding-left: 2pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	padding-right: 20px;
	border-right-style: none;
}

.TableStyle-Formatting-BodyE-Column1- p
{
	
}

.TableStyle-Formatting-BodyF-Column1-
{
	padding-left: 2pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	padding-right: 20px;
	border-right-style: none;
}

.TableStyle-Formatting-BodyF-Column1- p
{
	
}

.TableStyle-Formatting-BodyH-Column1-
{
	padding-left: 2pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	padding-right: 20px;
	border-right-style: none;
}

.TableStyle-Formatting-BodyH-Column1- p
{
	
}

.TableStyle-Formatting-BodyD-Column1-
{
	padding-left: 2pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	padding-right: 20px;
}

.TableStyle-Formatting-BodyD-Column1- p
{
	
}

.TableStyle-Formatting-BodyC-Column1-
{
	padding-left: 2pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	padding-right: 20px;
	border-right-style: none;
}

.TableStyle-Formatting-BodyC-Column1- p
{
	
}

.TableStyle-Formatting-BodyB-Column1-
{
	padding-left: 2pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	padding-right: 20px;
	border-right-style: none;
}

.TableStyle-Formatting-BodyB-Column1- p
{
	
}

.TableStyle-Formatting-BodyA-Column1-
{
	padding-left: 2pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	padding-right: 20px;
}

.TableStyle-Formatting-BodyA-Column1- p
{
	
}

.TableStyle-Formatting-BodyG-Column1-
{
	padding-left: 2pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	padding-right: 20px;
}

.TableStyle-Formatting-BodyG-Column1- p
{
	
}

.TableStyle-Formatting-BodyI-ColumnLast-
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-Formatting-BodyI-ColumnLast- p
{
	
}

.TableStyle-Formatting-BodyE-ColumnLast-
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-Formatting-BodyE-ColumnLast- p
{
	
}

.TableStyle-Formatting-BodyF-ColumnLast-
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-Formatting-BodyF-ColumnLast- p
{
	
}

.TableStyle-Formatting-BodyH-ColumnLast-
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-Formatting-BodyH-ColumnLast- p
{
	
}

.TableStyle-Formatting-BodyD-ColumnLast-
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-Formatting-BodyD-ColumnLast- p
{
	
}

.TableStyle-Formatting-BodyC-ColumnLast-
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-Formatting-BodyC-ColumnLast- p
{
	
}

.TableStyle-Formatting-BodyB-ColumnLast-
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-Formatting-BodyB-ColumnLast- p
{
	
}

.TableStyle-Formatting-BodyA-ColumnLast-
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-Formatting-BodyA-ColumnLast- p
{
	
}

.TableStyle-Formatting-BodyG-ColumnLast-
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-Formatting-BodyG-ColumnLast- p
{
	
}


