/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: FormattingIndented;
	margin-left: 0.3in;
	margin-right: 0in;
	margin-top: 10.5pt;
	margin-bottom: 8.5pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
	cell-padding-top: 0pt;
	cell-padding-left: 2pt;
	cell-padding-right: 4pt;
	cell-padding-bottom: 4pt;
	max-id: 4;
}

mcTableColumnStyle
{
	separator-style: none;
	ruler-style: none;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 2;
	separator-style: none;
	ruler-style: none;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 2;
	separator-style: none;
	ruler-style: none;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-FormattingIndented
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-right-style: none;
	border-right-color: #000000;
	border-top-style: none;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-color: #000000;
	margin-left: 0.3in;
	margin-right: 0in;
	margin-top: 10.5pt;
	margin-bottom: 8.5pt;
	border-spacing: 0px 0px;
}

.TableStyle-FormattingIndented-Column-Column1
{
	
}

.TableStyle-FormattingIndented-Head-Header1
{
	
}

.TableStyle-FormattingIndented-HeadI-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-FormattingIndented-HeadI-Column1-Header1 p
{
	
}

.TableStyle-FormattingIndented-HeadE-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-FormattingIndented-HeadE-Column1-Header1 p
{
	
}

.TableStyle-FormattingIndented-HeadF-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-FormattingIndented-HeadF-Column1-Header1 p
{
	
}

.TableStyle-FormattingIndented-HeadH-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-FormattingIndented-HeadH-Column1-Header1 p
{
	
}

.TableStyle-FormattingIndented-HeadD-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-FormattingIndented-HeadD-Column1-Header1 p
{
	
}

.TableStyle-FormattingIndented-HeadC-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-FormattingIndented-HeadC-Column1-Header1 p
{
	
}

.TableStyle-FormattingIndented-HeadB-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-FormattingIndented-HeadB-Column1-Header1 p
{
	
}

.TableStyle-FormattingIndented-HeadA-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-FormattingIndented-HeadA-Column1-Header1 p
{
	
}

.TableStyle-FormattingIndented-HeadG-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-FormattingIndented-HeadG-Column1-Header1 p
{
	
}

.TableStyle-FormattingIndented-Foot-Footer1
{
	
}

.TableStyle-FormattingIndented-FootI-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-FormattingIndented-FootI-Column1-Footer1 p
{
	
}

.TableStyle-FormattingIndented-FootE-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-FormattingIndented-FootE-Column1-Footer1 p
{
	
}

.TableStyle-FormattingIndented-FootF-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-FormattingIndented-FootF-Column1-Footer1 p
{
	
}

.TableStyle-FormattingIndented-FootH-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-FormattingIndented-FootH-Column1-Footer1 p
{
	
}

.TableStyle-FormattingIndented-FootD-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-FormattingIndented-FootD-Column1-Footer1 p
{
	
}

.TableStyle-FormattingIndented-FootC-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-FormattingIndented-FootC-Column1-Footer1 p
{
	
}

.TableStyle-FormattingIndented-FootB-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-FormattingIndented-FootB-Column1-Footer1 p
{
	
}

.TableStyle-FormattingIndented-FootA-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-FormattingIndented-FootA-Column1-Footer1 p
{
	
}

.TableStyle-FormattingIndented-FootG-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-FormattingIndented-FootG-Column1-Footer1 p
{
	
}

.TableStyle-FormattingIndented-Body-Body1
{
	
}

.TableStyle-FormattingIndented-BodyI-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-FormattingIndented-BodyI-Column1-Body1 p
{
	
}

.TableStyle-FormattingIndented-BodyE-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-FormattingIndented-BodyE-Column1-Body1 p
{
	
}

.TableStyle-FormattingIndented-BodyF-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-FormattingIndented-BodyF-Column1-Body1 p
{
	
}

.TableStyle-FormattingIndented-BodyH-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-FormattingIndented-BodyH-Column1-Body1 p
{
	
}

.TableStyle-FormattingIndented-BodyD-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-bottom-style: none;
}

.TableStyle-FormattingIndented-BodyD-Column1-Body1 p
{
	
}

.TableStyle-FormattingIndented-BodyC-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-FormattingIndented-BodyC-Column1-Body1 p
{
	
}

.TableStyle-FormattingIndented-BodyB-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-FormattingIndented-BodyB-Column1-Body1 p
{
	
}

.TableStyle-FormattingIndented-BodyA-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-FormattingIndented-BodyA-Column1-Body1 p
{
	
}

.TableStyle-FormattingIndented-BodyG-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-bottom-style: none;
}

.TableStyle-FormattingIndented-BodyG-Column1-Body1 p
{
	
}

.TableStyle-FormattingIndented-Body-Body2
{
	
}

.TableStyle-FormattingIndented-BodyI-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-FormattingIndented-BodyI-Column1-Body2 p
{
	
}

.TableStyle-FormattingIndented-BodyE-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-FormattingIndented-BodyE-Column1-Body2 p
{
	
}

.TableStyle-FormattingIndented-BodyF-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-FormattingIndented-BodyF-Column1-Body2 p
{
	
}

.TableStyle-FormattingIndented-BodyH-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-FormattingIndented-BodyH-Column1-Body2 p
{
	
}

.TableStyle-FormattingIndented-BodyD-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-bottom-style: none;
}

.TableStyle-FormattingIndented-BodyD-Column1-Body2 p
{
	
}

.TableStyle-FormattingIndented-BodyC-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-FormattingIndented-BodyC-Column1-Body2 p
{
	
}

.TableStyle-FormattingIndented-BodyB-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-FormattingIndented-BodyB-Column1-Body2 p
{
	
}

.TableStyle-FormattingIndented-BodyA-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-FormattingIndented-BodyA-Column1-Body2 p
{
	
}

.TableStyle-FormattingIndented-BodyG-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-bottom-style: none;
}

.TableStyle-FormattingIndented-BodyG-Column1-Body2 p
{
	
}


