/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: StandardRules;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 14pt;
	margin-bottom: 14pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: solid;
	border-top-width: 1pt;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-right-style: none;
	border-left-style: none;
	cell-padding-top: 5pt;
	cell-padding-left: 5pt;
	cell-padding-right: 5pt;
	cell-padding-bottom: 3pt;
	max-id: 4;
}

mcTableColumnStyle
{
	separator-style: none;
	ruler-style: none;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 2;
	separator-style: none;
	ruler-style: none;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 2;
	separator-style: none;
	ruler-style: none;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-StandardRules
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-right-style: none;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1pt;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 14pt;
	margin-bottom: 14pt;
	border-spacing: 0px 0px;
}

.TableStyle-StandardRules-Column-Column1
{
	
}

.TableStyle-StandardRules-Head-Header1
{
	
}

.TableStyle-StandardRules-HeadI-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-StandardRules-HeadI-Column1-Header1 p
{
	
}

.TableStyle-StandardRules-HeadE-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-right-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-StandardRules-HeadE-Column1-Header1 p
{
	
}

.TableStyle-StandardRules-HeadF-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-right-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-StandardRules-HeadF-Column1-Header1 p
{
	
}

.TableStyle-StandardRules-HeadH-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-StandardRules-HeadH-Column1-Header1 p
{
	
}

.TableStyle-StandardRules-HeadD-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-StandardRules-HeadD-Column1-Header1 p
{
	
}

.TableStyle-StandardRules-HeadC-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-StandardRules-HeadC-Column1-Header1 p
{
	
}

.TableStyle-StandardRules-HeadB-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-StandardRules-HeadB-Column1-Header1 p
{
	
}

.TableStyle-StandardRules-HeadA-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
}

.TableStyle-StandardRules-HeadA-Column1-Header1 p
{
	
}

.TableStyle-StandardRules-HeadG-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
}

.TableStyle-StandardRules-HeadG-Column1-Header1 p
{
	
}

.TableStyle-StandardRules-Foot-Footer1
{
	
}

.TableStyle-StandardRules-FootI-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-StandardRules-FootI-Column1-Footer1 p
{
	
}

.TableStyle-StandardRules-FootE-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-StandardRules-FootE-Column1-Footer1 p
{
	
}

.TableStyle-StandardRules-FootF-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-StandardRules-FootF-Column1-Footer1 p
{
	
}

.TableStyle-StandardRules-FootH-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-StandardRules-FootH-Column1-Footer1 p
{
	
}

.TableStyle-StandardRules-FootD-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
}

.TableStyle-StandardRules-FootD-Column1-Footer1 p
{
	
}

.TableStyle-StandardRules-FootC-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-StandardRules-FootC-Column1-Footer1 p
{
	
}

.TableStyle-StandardRules-FootB-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-StandardRules-FootB-Column1-Footer1 p
{
	
}

.TableStyle-StandardRules-FootA-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
}

.TableStyle-StandardRules-FootA-Column1-Footer1 p
{
	
}

.TableStyle-StandardRules-FootG-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
}

.TableStyle-StandardRules-FootG-Column1-Footer1 p
{
	
}

.TableStyle-StandardRules-Body-Body1
{
	
}

.TableStyle-StandardRules-BodyI-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-StandardRules-BodyI-Column1-Body1 p
{
	
}

.TableStyle-StandardRules-BodyE-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-StandardRules-BodyE-Column1-Body1 p
{
	
}

.TableStyle-StandardRules-BodyF-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-StandardRules-BodyF-Column1-Body1 p
{
	
}

.TableStyle-StandardRules-BodyH-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-StandardRules-BodyH-Column1-Body1 p
{
	
}

.TableStyle-StandardRules-BodyD-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
}

.TableStyle-StandardRules-BodyD-Column1-Body1 p
{
	
}

.TableStyle-StandardRules-BodyC-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-StandardRules-BodyC-Column1-Body1 p
{
	
}

.TableStyle-StandardRules-BodyB-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-StandardRules-BodyB-Column1-Body1 p
{
	
}

.TableStyle-StandardRules-BodyA-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
}

.TableStyle-StandardRules-BodyA-Column1-Body1 p
{
	
}

.TableStyle-StandardRules-BodyG-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
}

.TableStyle-StandardRules-BodyG-Column1-Body1 p
{
	
}

.TableStyle-StandardRules-Body-Body2
{
	
}

.TableStyle-StandardRules-BodyI-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-StandardRules-BodyI-Column1-Body2 p
{
	
}

.TableStyle-StandardRules-BodyE-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-StandardRules-BodyE-Column1-Body2 p
{
	
}

.TableStyle-StandardRules-BodyF-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-StandardRules-BodyF-Column1-Body2 p
{
	
}

.TableStyle-StandardRules-BodyH-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-StandardRules-BodyH-Column1-Body2 p
{
	
}

.TableStyle-StandardRules-BodyD-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
}

.TableStyle-StandardRules-BodyD-Column1-Body2 p
{
	
}

.TableStyle-StandardRules-BodyC-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-StandardRules-BodyC-Column1-Body2 p
{
	
}

.TableStyle-StandardRules-BodyB-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-StandardRules-BodyB-Column1-Body2 p
{
	
}

.TableStyle-StandardRules-BodyA-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
}

.TableStyle-StandardRules-BodyA-Column1-Body2 p
{
	
}

.TableStyle-StandardRules-BodyG-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
}

.TableStyle-StandardRules-BodyG-Column1-Body2 p
{
	
}


