/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: StandardData;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 14pt;
	margin-bottom: 14pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: solid;
	border-top-width: 1pt;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-right-style: none;
	border-left-style: none;
	cell-padding-top: 5pt;
	cell-padding-left: 5pt;
	cell-padding-right: 5pt;
	cell-padding-bottom: 3pt;
	max-id: 6;
}

mcTableColumnStyle
{
	separator-style: none;
	ruler-style: none;
	name: Label;
	id: 0;
	type: Automatic;
	span: 1;
	text-align: left;
	vertical-align: baseline;
	cell-padding-right: 15px;
}

mcTableColumnStyle
{
	span: 50;
	id: 5;
	name: Data;
	text-align: right;
	vertical-align: baseline;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 3;
	text-align: left;
	font-weight: bold;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	ruler-style: none;
	name: Body1;
	id: 1;
}

mcTableFootStyle
{
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-StandardData
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-right-style: none;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1pt;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 14pt;
	margin-bottom: 14pt;
	border-spacing: 0px 0px;
}

.TableStyle-StandardData-Column-Label
{
	
}

.TableStyle-StandardData-Column-Data
{
	
}

.TableStyle-StandardData-Head-Header1
{
	
}

.TableStyle-StandardData-HeadI-Label-Header1
{
	padding-left: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	vertical-align: baseline;
	padding-right: 15px;
	border-right-style: none;
	font-weight: bold;
	text-align: left;
}

.TableStyle-StandardData-HeadI-Label-Header1 p
{
	font-weight: bold;
}

.TableStyle-StandardData-HeadE-Label-Header1
{
	padding-left: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	vertical-align: baseline;
	padding-right: 15px;
	border-right-style: none;
	font-weight: bold;
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-StandardData-HeadE-Label-Header1 p
{
	font-weight: bold;
}

.TableStyle-StandardData-HeadF-Label-Header1
{
	padding-left: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	vertical-align: baseline;
	padding-right: 15px;
	border-right-style: none;
	font-weight: bold;
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-StandardData-HeadF-Label-Header1 p
{
	font-weight: bold;
}

.TableStyle-StandardData-HeadH-Label-Header1
{
	padding-left: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	vertical-align: baseline;
	padding-right: 15px;
	border-right-style: none;
	font-weight: bold;
	text-align: left;
}

.TableStyle-StandardData-HeadH-Label-Header1 p
{
	font-weight: bold;
}

.TableStyle-StandardData-HeadD-Label-Header1
{
	padding-left: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	vertical-align: baseline;
	padding-right: 15px;
	font-weight: bold;
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-StandardData-HeadD-Label-Header1 p
{
	font-weight: bold;
}

.TableStyle-StandardData-HeadC-Label-Header1
{
	padding-left: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	vertical-align: baseline;
	padding-right: 15px;
	border-right-style: none;
	font-weight: bold;
	text-align: left;
}

.TableStyle-StandardData-HeadC-Label-Header1 p
{
	font-weight: bold;
}

.TableStyle-StandardData-HeadB-Label-Header1
{
	padding-left: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	vertical-align: baseline;
	padding-right: 15px;
	border-right-style: none;
	font-weight: bold;
	text-align: left;
}

.TableStyle-StandardData-HeadB-Label-Header1 p
{
	font-weight: bold;
}

.TableStyle-StandardData-HeadA-Label-Header1
{
	padding-left: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	vertical-align: baseline;
	padding-right: 15px;
	font-weight: bold;
	text-align: left;
}

.TableStyle-StandardData-HeadA-Label-Header1 p
{
	font-weight: bold;
}

.TableStyle-StandardData-HeadG-Label-Header1
{
	padding-left: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	vertical-align: baseline;
	padding-right: 15px;
	font-weight: bold;
	text-align: left;
}

.TableStyle-StandardData-HeadG-Label-Header1 p
{
	font-weight: bold;
}

.TableStyle-StandardData-HeadI-Data-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	vertical-align: baseline;
	font-weight: bold;
	text-align: left;
}

.TableStyle-StandardData-HeadI-Data-Header1 p
{
	font-weight: bold;
}

.TableStyle-StandardData-HeadE-Data-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	vertical-align: baseline;
	font-weight: bold;
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-StandardData-HeadE-Data-Header1 p
{
	font-weight: bold;
}

.TableStyle-StandardData-HeadF-Data-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	vertical-align: baseline;
	font-weight: bold;
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-StandardData-HeadF-Data-Header1 p
{
	font-weight: bold;
}

.TableStyle-StandardData-HeadH-Data-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	vertical-align: baseline;
	font-weight: bold;
	text-align: left;
}

.TableStyle-StandardData-HeadH-Data-Header1 p
{
	font-weight: bold;
}

.TableStyle-StandardData-HeadD-Data-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	vertical-align: baseline;
	font-weight: bold;
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-StandardData-HeadD-Data-Header1 p
{
	font-weight: bold;
}

.TableStyle-StandardData-HeadC-Data-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	vertical-align: baseline;
	font-weight: bold;
	text-align: left;
}

.TableStyle-StandardData-HeadC-Data-Header1 p
{
	font-weight: bold;
}

.TableStyle-StandardData-HeadB-Data-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	vertical-align: baseline;
	font-weight: bold;
	text-align: left;
}

.TableStyle-StandardData-HeadB-Data-Header1 p
{
	font-weight: bold;
}

.TableStyle-StandardData-HeadA-Data-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	vertical-align: baseline;
	font-weight: bold;
	text-align: left;
}

.TableStyle-StandardData-HeadA-Data-Header1 p
{
	font-weight: bold;
}

.TableStyle-StandardData-HeadG-Data-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	vertical-align: baseline;
	font-weight: bold;
	text-align: left;
}

.TableStyle-StandardData-HeadG-Data-Header1 p
{
	font-weight: bold;
}

.TableStyle-StandardData-Foot-Footer1
{
	
}

.TableStyle-StandardData-FootI-Label-Footer1
{
	padding-left: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	text-align: left;
	vertical-align: baseline;
	padding-right: 15px;
	border-right-style: none;
}

.TableStyle-StandardData-FootI-Label-Footer1 p
{
	
}

.TableStyle-StandardData-FootE-Label-Footer1
{
	padding-left: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	text-align: left;
	vertical-align: baseline;
	padding-right: 15px;
	border-right-style: none;
}

.TableStyle-StandardData-FootE-Label-Footer1 p
{
	
}

.TableStyle-StandardData-FootF-Label-Footer1
{
	padding-left: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	text-align: left;
	vertical-align: baseline;
	padding-right: 15px;
	border-right-style: none;
}

.TableStyle-StandardData-FootF-Label-Footer1 p
{
	
}

.TableStyle-StandardData-FootH-Label-Footer1
{
	padding-left: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	text-align: left;
	vertical-align: baseline;
	padding-right: 15px;
	border-right-style: none;
}

.TableStyle-StandardData-FootH-Label-Footer1 p
{
	
}

.TableStyle-StandardData-FootD-Label-Footer1
{
	padding-left: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	text-align: left;
	vertical-align: baseline;
	padding-right: 15px;
}

.TableStyle-StandardData-FootD-Label-Footer1 p
{
	
}

.TableStyle-StandardData-FootC-Label-Footer1
{
	padding-left: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	text-align: left;
	vertical-align: baseline;
	padding-right: 15px;
	border-right-style: none;
}

.TableStyle-StandardData-FootC-Label-Footer1 p
{
	
}

.TableStyle-StandardData-FootB-Label-Footer1
{
	padding-left: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	text-align: left;
	vertical-align: baseline;
	padding-right: 15px;
	border-right-style: none;
}

.TableStyle-StandardData-FootB-Label-Footer1 p
{
	
}

.TableStyle-StandardData-FootA-Label-Footer1
{
	padding-left: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	text-align: left;
	vertical-align: baseline;
	padding-right: 15px;
}

.TableStyle-StandardData-FootA-Label-Footer1 p
{
	
}

.TableStyle-StandardData-FootG-Label-Footer1
{
	padding-left: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	text-align: left;
	vertical-align: baseline;
	padding-right: 15px;
}

.TableStyle-StandardData-FootG-Label-Footer1 p
{
	
}

.TableStyle-StandardData-FootI-Data-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	text-align: right;
	vertical-align: baseline;
}

.TableStyle-StandardData-FootI-Data-Footer1 p
{
	
}

.TableStyle-StandardData-FootE-Data-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	text-align: right;
	vertical-align: baseline;
}

.TableStyle-StandardData-FootE-Data-Footer1 p
{
	
}

.TableStyle-StandardData-FootF-Data-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	text-align: right;
	vertical-align: baseline;
}

.TableStyle-StandardData-FootF-Data-Footer1 p
{
	
}

.TableStyle-StandardData-FootH-Data-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	text-align: right;
	vertical-align: baseline;
}

.TableStyle-StandardData-FootH-Data-Footer1 p
{
	
}

.TableStyle-StandardData-FootD-Data-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	text-align: right;
	vertical-align: baseline;
}

.TableStyle-StandardData-FootD-Data-Footer1 p
{
	
}

.TableStyle-StandardData-FootC-Data-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	text-align: right;
	vertical-align: baseline;
}

.TableStyle-StandardData-FootC-Data-Footer1 p
{
	
}

.TableStyle-StandardData-FootB-Data-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	text-align: right;
	vertical-align: baseline;
}

.TableStyle-StandardData-FootB-Data-Footer1 p
{
	
}

.TableStyle-StandardData-FootA-Data-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	text-align: right;
	vertical-align: baseline;
}

.TableStyle-StandardData-FootA-Data-Footer1 p
{
	
}

.TableStyle-StandardData-FootG-Data-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	text-align: right;
	vertical-align: baseline;
}

.TableStyle-StandardData-FootG-Data-Footer1 p
{
	
}

.TableStyle-StandardData-Body-Body1
{
	
}

.TableStyle-StandardData-BodyI-Label-Body1
{
	padding-left: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
	text-align: left;
	vertical-align: baseline;
	padding-right: 15px;
	border-right-style: none;
}

.TableStyle-StandardData-BodyI-Label-Body1 p
{
	
}

.TableStyle-StandardData-BodyE-Label-Body1
{
	padding-left: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
	text-align: left;
	vertical-align: baseline;
	padding-right: 15px;
	border-right-style: none;
}

.TableStyle-StandardData-BodyE-Label-Body1 p
{
	
}

.TableStyle-StandardData-BodyF-Label-Body1
{
	padding-left: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
	text-align: left;
	vertical-align: baseline;
	padding-right: 15px;
	border-right-style: none;
}

.TableStyle-StandardData-BodyF-Label-Body1 p
{
	
}

.TableStyle-StandardData-BodyH-Label-Body1
{
	padding-left: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
	text-align: left;
	vertical-align: baseline;
	padding-right: 15px;
	border-right-style: none;
}

.TableStyle-StandardData-BodyH-Label-Body1 p
{
	
}

.TableStyle-StandardData-BodyD-Label-Body1
{
	padding-left: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
	text-align: left;
	vertical-align: baseline;
	padding-right: 15px;
}

.TableStyle-StandardData-BodyD-Label-Body1 p
{
	
}

.TableStyle-StandardData-BodyC-Label-Body1
{
	padding-left: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	text-align: left;
	vertical-align: baseline;
	padding-right: 15px;
	border-right-style: none;
}

.TableStyle-StandardData-BodyC-Label-Body1 p
{
	
}

.TableStyle-StandardData-BodyB-Label-Body1
{
	padding-left: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	text-align: left;
	vertical-align: baseline;
	padding-right: 15px;
	border-right-style: none;
}

.TableStyle-StandardData-BodyB-Label-Body1 p
{
	
}

.TableStyle-StandardData-BodyA-Label-Body1
{
	padding-left: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	text-align: left;
	vertical-align: baseline;
	padding-right: 15px;
}

.TableStyle-StandardData-BodyA-Label-Body1 p
{
	
}

.TableStyle-StandardData-BodyG-Label-Body1
{
	padding-left: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
	text-align: left;
	vertical-align: baseline;
	padding-right: 15px;
}

.TableStyle-StandardData-BodyG-Label-Body1 p
{
	
}

.TableStyle-StandardData-BodyI-Data-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
	text-align: right;
	vertical-align: baseline;
}

.TableStyle-StandardData-BodyI-Data-Body1 p
{
	
}

.TableStyle-StandardData-BodyE-Data-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
	text-align: right;
	vertical-align: baseline;
}

.TableStyle-StandardData-BodyE-Data-Body1 p
{
	
}

.TableStyle-StandardData-BodyF-Data-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
	text-align: right;
	vertical-align: baseline;
}

.TableStyle-StandardData-BodyF-Data-Body1 p
{
	
}

.TableStyle-StandardData-BodyH-Data-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
	text-align: right;
	vertical-align: baseline;
}

.TableStyle-StandardData-BodyH-Data-Body1 p
{
	
}

.TableStyle-StandardData-BodyD-Data-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
	text-align: right;
	vertical-align: baseline;
}

.TableStyle-StandardData-BodyD-Data-Body1 p
{
	
}

.TableStyle-StandardData-BodyC-Data-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	text-align: right;
	vertical-align: baseline;
}

.TableStyle-StandardData-BodyC-Data-Body1 p
{
	
}

.TableStyle-StandardData-BodyB-Data-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	text-align: right;
	vertical-align: baseline;
}

.TableStyle-StandardData-BodyB-Data-Body1 p
{
	
}

.TableStyle-StandardData-BodyA-Data-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	text-align: right;
	vertical-align: baseline;
}

.TableStyle-StandardData-BodyA-Data-Body1 p
{
	
}

.TableStyle-StandardData-BodyG-Data-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
	text-align: right;
	vertical-align: baseline;
}

.TableStyle-StandardData-BodyG-Data-Body1 p
{
	
}

