/*
**	manstyle.css	General manual CSS style sheet
**
**	28-sep-2009 (al) floatleft
**	26-aug-2009 (al) titlebar td
**	14-aug-2009 (al) floatright, caption
**	27-sep-2008 (al) syntax
**	12-sep-2008 (al) titlebar
**	06-jun-2008 (al) created
*/

/* --------------------------- Miscellaneous ----------------------------- */

/* Link to SVL functions: use typewriter font. */

    a.svl {
	font-family: monospace;
	font-size: 100%;
    }

    a.tt {
	font-family: monospace;
	font-size: 100%;
    }

/* Replacement for deprecated <nobr>. */

    .nobr {
	white-space: nowrap;
    }

    .menu {
	white-space: nowrap;
	font-weight: bold;
    }

/* Paragraph: indented, with no extra vertical space above or below,
**	and paragraph not indented, with no extra vertical space. */

    p.indent_novspace {
	text-indent: 2.5em;
	margin-bottom: 0;
	margin-top: 0;
    }

    p.indent_bottomspace {
	text-indent: 2.5em;
	margin-top: 0;
    }

    p.none {
	text-indent: 0;
	margin-bottom: 0;
	margin-top: 0;
    }

	/* vertical space on top, no vertical space on bottom */

    p.nonebottom {
	text-indent: 0;
	margin-bottom: 0;
    }

/* float left and right of text */

    .floatright {
	float: right;
	padding: 0 10px 10px 10px;
    }

    .floatleft {
	float: left;
	padding: 0 25px 10px 10px;
    }

/* caption for images */

    .caption {
	font-style: italic;
	text-align: center;
	margin-top: 3px;
    }

/* float left of text with no padding; e.g. for icons. */

    .iconleft { float: left; }

/* ----------------------------- Colouring ------------------------------- */

/* Coloured background for titles in tables. */

    .titlebar {
	border-style: outset;
	border-width: 1px;
	border-spacing: 1px;
	border-collapse: separate;
	vertical-align: baseline;
    }
    .titlebar th {
	font-weight: bold;
	background-color: #cccccc;
	padding: 5px;
	border-style: inset;
	border-width: 1px;
    }
    .titlebar td {
	text-align: left;
	vertical-align: baseline;
	padding: 5px;
	border-style: inset;
	border-width: 1px;
    }

/* For colouring Obsolete headings. */

    .obsolete {
	color: #aa0000;
    }

/* For colouring "Tip" */

    .tip {
	color: #aa0000;
	font-weight: bold;
    }

/* For colouring "NEW" in rnotes */

    .new {
	color: #ff0000;
	font-weight: bold;
    }

/* -------------------------- Help/Tutorial ---------------------------- */

/* Extra information in a box, dark blue font. */

    .extra_info {
	color: #0b0b60;
	padding: 0px 10px 0px 10px;
	margin: 30px 15px 10px 15px;
	border: medium solid #a0a0a0;
    }

/* For offsetting and colouring examples in manual pages.
** Font will be dark blue, background light blue, inset from main text. */

    div.example {
	color: rgb(8,8,64);
	background-color: rgb(230,230,255);
	padding: 0px 10px 5px 10px;
	margin: 10px 25px 10px 25px;
    }

/* For indenting link to extra help; format as a list of class "help",
** with an item of class "help".  There will be a small icon on the left. */

    ul.help {
	list-style-type: none;
	padding: 10px;
	margin: 10px;
	border: none;
    }

    ul li.help {
	color: rgb(8,8,64);
	background-image:url(images/teacher_small_blue.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 25px;
    }

/* For putting a faint blue background on example items in
** tables of contents at top of manual pages. */

    a.example {
	color: #0b0b60;
	background-color: rgb(230,230,255);
	padding: 0px 5px;
    }

/* ---------------------------- Functions ----------------------------- */

/* For colouring function name in function syntax. */

    .fcndef {
	font-family: monospace;
	font-size: 100%;
	color: #0055dd;
	font-weight: normal;
    }

/* For colouring function name in obsolete function syntax. */

    .obsfcndef {
	font-family: monospace;
	font-size: 100%;
	color: #aa0000;
	font-weight: normal;
    }

/* For marking unsupported functions, accessed using id="unsupported"
** e.g. <div id="unsupported"> ... </div> */

    #unsupported {color: #0B0B60}

/* Link style for Syntax block of function ref: underline on hover. */

    a.fcnlink:link {
	color: #0000cc;
	font-weight: normal;
	font-size: 100%;
	text-decoration: none;
    }
    a.fcnlink:active {
	color: #0000cc;
	font-weight: normal;
	font-size: 100%;
	text-decoration: none;
    }
    a.fcnlink:visited {
	color: #0000cc;
	font-weight: normal;
	font-size: 100%;
	text-decoration: none;
    }
    a.fcnlink:hover {
	color: #0000cc;
	font-weight: normal;
	font-size: 100%;
	text-decoration: underline;
    }
