/*
**	yeslinks.css	CSS style sheet for online pages that have links re-enabled
**
**  12-aug-2014 (ts) created
*/


/* undo the generic <a> tag settings in ccg_common.css */
a {
    color : inherit;
    text-decoration: none;
	pointer-events: auto;
	cursor: pointer;
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

a.linkAlways {
	pointer-events: auto;
	cursor: pointer;
}

a:not([name]):link {
    color: #008ac4;
    text-decoration: none;
}
a:not([name]):visited {
    color: #008ac4;
    text-decoration: none;
}
a:not([name]):hover {
    color: #008ac4;
    text-decoration: underline;
}
a:not([name]):active {
    color: #008ac4;
    text-decoration: underline;
}

/* Link styles for release notes and legal page */

a.relnote:not([name]):link {
    color: #0000aa;
    text-decoration: none;
}
a.relnote:not([name]):visited {
    color: #550088;
    text-decoration: none;
}
a.relnote:not([name]):active {
    color: #0000aa;
    text-decoration: none;
}
a.relnote:not([name]):hover {
    color: #ff9933;
    text-decoration: none;
}

