@charset "UTF-8";
/* CSS Document */
body {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	text-align: justify;	
}
div.image {}
div.story {}
ul {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}
li.common-bullet { 
	background: url(bullet.jpg) left top no-repeat;
	padding-left: 15px;
	margin-bottom: 10px;
}
li.common-bullet-2 {
	background: url(bullet2.jpg) left top no-repeat;
	padding-left: 15px;
}
li.common-bullet-full-space {
	background: url(bullet.jpg) left top no-repeat;
	padding-left: 15px;
	margin-bottom: 10px;
}
li.common-bullet-ns {
	background: url(bullet.jpg) left top no-repeat;
	padding-left: 15px;
	margin-bottom: 10px;
}
p.center {
	text-align: center;
}
p.authors {
	font-weight: bold;
	text-align: center;
	font-size: 19px;
	color: #6633CC;
}
p.address {
	font-weight: bold;
	text-align: center;
	font-size: 16px;
}
p.authors2 {
	font-weight: bold;
	text-align: center;
	font-size: 16px;
	color: #6633CC;
}
p.common-figure {
	text-align: center;
}
p.common-keep {}
p.common-manual-ns {}
p.less-so-caption {
	font-size: 15px;
	margin-left: 40px;
	margin-right: 40px;
	font-style: italic;
}
p.less-so-captionc {	
	font-size: 15px;
	text-align: center;
	font-style: italic;
}
p.less-so-chapter {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #CC0000;
	font-weight: bold;
	text-align: center;
	font-size: 22px;
}
span.less-so-code {
	text-align: left;
	font-family: "Courier New", Courier, monospace;
	font-size: 13px;
}
p.less-so-copyright {
	font-size: 13px;
}
p.less-so-figtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #0000FF;
	font-weight: bold;
	text-align: center;
	font-size: 13px;
}
p.less-so-footer {}
p.less-so-header {}
p.less-so-heading-1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #CC0000;
	font-weight: bold;
	text-align: left;
	font-size: 18px;
}
p.less-so-heading-2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #CC0000;
	font-weight: bold;
	text-align: left;
	font-size: 15px;
}
p.less-so-heading-3 {	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #CC0000;
	font-weight: bold;
	text-align: left;
	font-size: 13px;
}
p.less-so-manual-paragraph {}
p.less-so-normal {}
p.less-so-table {
	background-color: #FFFFFF;
	border: 1;
	border-color:#006699;
	
}
td {
	vertical-align: top;	
}
p.less-so-tableheader {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 13px;
}
span.less-so-tableheader {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: #FFFFFF;
}
p.less-so-zt1 {
	text-size: 14px;
	text-align: left;
}
p.less-so-zt2 {	
	text-size: 14px;
	text-align: left;
}
span.items-in-text-button-in-text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #009900;
	font-weight: bold;
	font-size: 13px;
}
span.items-in-text-dialog-names {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 13px;
}
span.items-in-text-g-keyword {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: #6633CC;
}
span.items-in-text-header-in-table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: #FFFFFF;
}
span.items-in-text-italics {
	font-style: italic;	
}
span.items-in-text-object-in-text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #0000FF;
	font-weight: bold;
	font-size: 13px;
}
span.seldom-button-name-icon-table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #009900;
	font-weight: bold;
	font-size: 12px;
}
span.seldom-dialog-names-table {
font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
}
span.seldom-menu-path-icon-table {
font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #0000FF;
	font-weight: bold;
	font-size: 12px;
}
span.seldom-minion10 {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
}
span.iconh {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: #FFFFFF;
}
span.utility-copyright {}
span.utility-footer {}
span.utility-header {}
