@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);
/*<meta />*/

a
{
	color: #0E6895;
	text-decoration: none;
}

a:visited
{
	
}

a:hover
{
	text-decoration: underline;
	color: #07374f;
}

a:active
{
	
}

a.button
{
	font-style: normal;
	text-decoration: none;
	font-family: sans-serif;
	color: black;
}

a.button:link
{
	color: black;
}

a.button:visited
{
	color: black;
}

a.button:active
{
	color: black;
}

a.Figure_in_Topic
{
	color: #000000;
	text-decoration: none;
}

a.glossary
{
	font-style: normal;
	text-decoration: none;
	color: navy;
}

a.navbutton
{
	text-decoration: none;
	color: #ffffff;
}

a.navbutton:visited
{
	
}

a.navbutton:hover
{
	text-decoration: underline;
}

a.NavLink
{
	text-decoration: none;
	color: #ffffff;
}

a.NavLink:visited
{
	color: #777777;
	text-decoration: none;
}

a.NavLink:hover
{
	text-decoration: underline;
	color: #ffffff;
}

a.schrored
{
	font-style: normal;
	text-decoration: none;
	color: #A41128;
	font-family: sans-serif;
}

a.Table_in_Topic
{
	color: #000000;
	text-decoration: none;
}

a.TOClink
{
	color: #777777;
	font-size: 80%;
	font-style: italic;
	text-decoration: none;
}

a.TOClink:visited
{
	text-decoration: none;
}

a.TOClink:hover
{
	color: #002f30;
}

body
{
	background-color: white;
	font-family: sans-serif;
	font-size: 14px;
	color: #333;
	font-weight: 300;
	line-height: 20px;
}

br.image
{
	margin-bottom: 10px;
}

caption
{
	text-align: left;
	font-family: helvetica, arial, sans-serif;
	font-style: italic;
	padding-top: 1em;
	padding-bottom: 10px;
}

code
{
	font-family: monospace;
	background-color: white;
	color: black;
}

dd
{
	margin-bottom: 2px;
}

dl
{
	margin-top: 0.5em;
	margin-bottom: 0.3em;
}

dt
{
	margin-bottom: 2px;
}

h1
{
	margin-top: 5;
	font-family: sans-serif;
	font-weight: 400;
	font-size: 2rem;
	line-height: 3rem;
}

h2
{
	margin-bottom: 0;
	font-weight: 400;
	font-family: sans-serif;
	font-size: 1.5rem;
	line-height: 2.2rem;
}

h3
{
	margin-bottom: 0;
	font-family: sans-serif;
	font-weight: 400;
	font-size: 1.3rem;
	line-height: 1.9rem;
}

h3.TOC
{
	margin-left: 40px;
	font-size: medium;
	font-family: sans-serif;
	font-weight: bold;
}

h4
{
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
	margin-bottom: 0;
	font-size: 1.1rem;
}

h5
{
	font-size: 100%;
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
	margin-bottom: 0;
}

i.UserReplace
{
	font-style: italic;
}

li
{
	margin-left: 0px;
}

p
{
	font-weight: normal;
	margin-top: 5px;
	margin-bottom: 15px;
}

p.ArgDef
{
	font-style: italic;
	font-size: 110%;
}

p.ArgValue
{
	text-align: right;
}

p.Cell_Body
{
	margin-bottom: 3px;
	margin-top: 2px;
}

p.Cell_Body_Decimal
{
	text-align: right;
	margin-right: 15px;
	margin-bottom: 0px;
	margin-top: 0px;
}

p.Cell_Heading
{
	margin-bottom: 5px;
}

p.Code1
{
	font-size: 90%;
	font-family: monospace;
	margin-left: 2pc;
}

p.Equation
{
	mc-auto-number-format: 'E:({n=1})';
	mc-auto-number-position: outside-tail;
	mc-auto-number-offset: 1em;
	vertical-align: midde;
}

p.Equation_
{
	mc-auto-number-position: outside-tail;
	mc-auto-number-format: 'E:({n+})';
	mc-auto-number-offset: 1.00em;
	vertical-align: middle;
}

p.figure
{
	text-align: left;
	font-family: helvetica, arial, sans-serif;
	font-style: italic;
	mc-auto-number-format: 'F:Figure {n+}:';
	mc-auto-number-offset: 1pc;
	padding-top: 5pt;
	padding-bottom: 5pt;
}

p.Graphics1
{
	margin-left: 2pc;
}

p.GUI_Heading
{
	font-family: helvetica, arial, sans-serif;
	margin-top: 15px;
	margin-bottom: 5px;
}

p.Heading3Nonum
{
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
	margin-bottom: 0;
	font-size: 125%;
}

p.Heading4Nonum
{
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
	margin-bottom: 0;
	font-size: 110%;
}

p.image
{
	text-align: left;
}

p.Lettered2
{
	mc-auto-number-format: '{a=1}. ';
	margin-left: 4pc;
	mc-auto-number-offset: 2pc;
	mc-auto-number-position: outside-head;
}

p.Lettered2_
{
	mc-auto-number-format: '{a+}. ';
	mc-auto-number-offset: 2pc;
	mc-auto-number-position: outside-head;
	margin-left: 4pc;
}

p.Note
{
	mc-auto-number-format: '{b}Note:{/b} ';
}

p.Numbered1
{
	mc-auto-number-position: outside-head;
	mc-auto-number-format: '{n=1}.';
	padding-left: 0pc;
	margin-left: 2pc;
	mc-auto-number-offset: 2pc;
}

p.Numbered1_
{
	mc-auto-number-format: '{n+}.';
	mc-auto-number-position: outside-head;
	padding-left: 0pc;
	mc-auto-number-offset: 2pc;
	margin-right: 0px;
	margin-left: 2pc;
}

p.Numbered2
{
	mc-auto-number-position: outside-head;
	mc-auto-number-format: 'A:{n}.{n=1}.';
	padding-left: 0pc;
	margin-left: 2pc;
	mc-auto-number-offset: 2pc;
}

p.Numbered2_
{
	mc-auto-number-format: 'A:{n}{n+}.';
	mc-auto-number-position: outside-head;
	padding-left: 0pc;
	mc-auto-number-offset: 2pc;
	margin-right: 0px;
	margin-left: 2pc;
}

p.navbar
{
	font-size: 90%;
	margin-left: 1em;
	text-indent: -1em;
	margin-top: 3px;
	margin-bottom: 3px;
}

p.Reference
{
	mc-auto-number-format: '{n+}.';
	mc-auto-number-offset: 2pc;
	mc-auto-number-position: outside-head;
}

p.Table_Caption
{
	font-family: helvetica, arial, sans-serif;
	font-style: italic;
	mc-auto-number-format: 'T:Table {n+}. ';
}

p.TableFooter
{
	mc-auto-number-format: '{sup}{a=1}{/sup}';
	font-size: 90%;
}

p.Table_Elt
{
	padding-left: 0px;
	margin-bottom: 8px;
}

p.Table_Elt_Ctr
{
	text-align: center;
	margin-bottom: 8px;
}

p.TableFooter_
{
	font-size: 90%;
	mc-auto-number-format: '{sup}{a+}{/sup}';
}

p.Task_LeadIn
{
	font-weight: bold;
}

p.toc
{
	padding-left: 2pc;
	font-family: arial, helvetica, sans-serif;
	font-size: 11pt;
	line-height: 1em;
}

p.Tutorial
{
	mc-auto-number-format: 'For a tutorial example, see ';
	font-style: italic;
}

pre
{
	font-size: 90%;
	font-family: monospace;
}

pre.Code1
{
	font-size: 90%;
	margin-left: 2pc;
	font-family: monospace;
}

span.BoldItalic
{
	font-style: italic;
	font-weight: bold;
}

span.ContinueTo
{
	font-family: arial, helvetica, sans-serif;
	font-size: 90%;
	font-weight: bold;
}

span.ContinueTopic
{
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 85%;
}

span.GUI
{
	font-weight: 600;
}

span.GUISmall
{
	font-size: 80%;
	font-weight: 600;
}

span.Symbol
{
	font-family: Symbol;
}

span.schrogreen
{
	color: #002F30;
}

span.schrored
{
	color: #A41128;
}

sub.SubItal
{
	font-style: italic;
}

sup.SupItal
{
	font-style: italic;
}

sub
{
	vertical-align: -30%;
	font-size: 75%;
}

sup
{
	vertical-align: 50%;
	font-size: 75%;
}

table.ArgTable
{
	border-spacing: 0;
	border: none;
	margin: 0px;
	padding: 0px;
}

table.NavLink
{
	border-spacing: 0;
	border: none;
	margin: 0px;
	text-align: center;
	background-color: #dddddd;
	width: 100%;
	padding: 0px;
}

table.Periodic
{
	border: none 0px #000000;
	caption-side: top;
	margin-left: 0px;
	margin-right: 0px;
	margin: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
	margin-bottom: 20px;
}

table.TableCellTable
{
	border-spacing: 0;
	border: none;
	margin: 0px;
	padding: 0px;
}

td
{
	vertical-align: top;
	padding-left: 0px;
	padding-right: 0px;
}

td.ArgTable
{
	border: none;
	padding: 0px;
	margin: 0px;
	padding-right: 10px;
}

td.AtomNo
{
	padding-left: 3px;
	padding-right: 4px;
}

td.Borders
{
	border: solid 1px;
	margin: 0px;
}

td.Element
{
	padding-right: 3px;
	padding-left: 3px;
}

td.navlink
{
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
	margin-right: 10px;
	font-size: 90%;
	background-color: #333;
	color: #ffffff;
}

td.NavCenter
{
	border: none;
	text-align: center;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	width: 24%;
}

td.NavLeft
{
	vertical-align: top;
	border: none;
	text-align: left;
	width: 38%;
}

td.NavRight
{
	vertical-align: top;
	text-align: right;
	border: none;
	width: 38%;
}

td.NoBorders
{
	margin: 0px;
	border: none 0px #000000;
}

td.Spacing
{
	border: none;
	padding: 0px;
	margin: 0px;
	padding-right: 20px;
}

td.TableCellTable
{
	border: none;
	padding: 0px;
	margin: 0px;
	padding-right: 10px;
}

th
{
	text-align: left;
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
	font-size: 90%;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

tr
{
	vertical-align: top;
}

tr.ArgTable
{
	border: none;
	margin: 0px;
	padding: 0px;
}

tr.NavLink
{
	border: none;
	margin: 0px;
	padding: 0px 0px 2px;
	color: #ffffff;
	background-color: #333;
}

tr.TableCellTable
{
	margin: 0px;
	padding: 0px;
	border: none 0px #000000;
}

tt
{
	font-size: 90%;
	font-family: monospace;
}

.codesmall
{
	font-size: x-small;
	font-family: monospace;
}

.Compact
{
	margin-bottom: 0px;
	margin-top: 0px;
}

.GUI
{
	font-weight: 600;
}

.GUITable
{
	font-size: 90%;
	font-weight: 600;
}

.HB
{
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
}

.HowTo
{
	color: #777777;
	font-size: 80%;
	font-style: italic;
}

.Indented1
{
	padding-left: 0pc;
	margin-left: 2pc;
}

.Indented1Compact
{
	padding-left: 0pc;
	margin-left: 2pc;
	margin-bottom: 0px;
	margin-top: 0px;
}

.Indented2
{
	padding-left: 0pc;
	margin-left: 4pc;
}

.Indented2Compact
{
	padding-left: 0pc;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 4pc;
}

.indent
{
	margin-left: 40px;
}

.Keys
{
	font-family: helvetica, arial, sans-serif;
	font-size: 90%;
	font-weight: normal;
	font-variant: small-caps;
}

.Keyword
{
	font-weight: bold;
}

.logo
{
	margin-top: 0;
	margin-bottom: 0;
}

.NavText
{
	font-size: 80%;
	color: #ffffff;
}

.sans
{
	font-family: helvetica, arial, sans-serif;
}

.overline
{
	text-decoration: overline;
}

.small
{
	font-size: 90%;
}

.SmallCaps
{
	font-variant: small-caps;
}

.UserReplace
{
	font-style: italic;
}

MadCap|equation
{
	vertical-align: baseline;
}

MadCap|miniTocProxy
{
	font-family: arial, helvetica, sans-serif;
	padding-top: 0px;
	padding-left: 2pc;
	border-top-width: 0px;
	margin-top: 0px;
	color: #002f30;
	line-height: 1.0em;
}

MadCap|xref.Figure_Number
{
	mc-format: '{paranumonly}';
}

MadCap|xref.Reference_Number
{
	text-decoration: none;
	color: #000000;
	mc-format: '[{color #0E6895}{paranumonly}{/color}]';
}

MadCap|xref.Reference_Number:hover
{
	color: #a41128;
}

MadCap|xref.Ref_Number_Only
{
	mc-format: '{paranumonly}';
}

MadCap|xref.Step_Number
{
	mc-format: 'Step {paranumonly} ';
}

MadCap|xref.Table_Footnote
{
	text-decoration: none;
}

MadCap|xref.NavLink
{
	font-style: italic;
	text-decoration: none;
	color: #ffffff;
}

MadCap|xref.Table_Number
{
	mc-format: '{paranumonly}';
}

MadCap|xref.Table_in_Topic
{
	text-decoration: none;
	mc-format: '{color #0E6895}{paranumonly}{/color} in {title}';
	color: #333;
}

MadCap|xref.toc
{
	color: #002f30;
	font-size: 11pt;
	text-decoration: none;
	font-weight: bold;
}

MadCap|xref.toc:visited
{
	text-decoration: none;
	color: #002f30;
}

MadCap|xref.Figure_in_Topic
{
	color: #333;
	mc-format: '{color #0E6895}{paranumonly}{/color}{default} in {title}';
}

td.Filler
{
	width: auto;
}

MadCap|miniTocProxy
{
	color: #0E6895;
	text-decoration: none;
}

MadCap|xref
{
	color: #0E6895;
	text-decoration: none;
}

MadCap|xref:hover
{
	text-decoration: underline;
	color: #07374f;
}

MadCap|xref.Figure_in_Topic:hover
{
	mc-format: '{default}{color #07374f}{u}{paranumonly}{/u}{/color}{default} in {title}';
}

MadCap|xref.Table_in_Topic:hover
{
	mc-format: '{color #07374f}{u}{paranumonly}{/u}{default} in {title}';
}

a.MiniTOC1
{
	color: #0E6895;
	text-decoration: none;
}

a.MiniTOC1:link
{
	color: #0E6895;
	text-decoration: none;
}

a.MiniTOC1:hover
{
	text-decoration: underline;
	color: #07374f;
}

MadCap|dropDown
{
	mc-closed-image: url('../Images/DropDownClosed.gif');
	mc-open-image: url('../Images/DropDownOpen.gif');
}

MadCap|expanding
{
	mc-closed-image: url('../Images/ExpandingClosed.gif');
	mc-open-image: url('../Images/ExpandingOpen.gif');
}

h2.Numbered
{
	mc-auto-number-format: 'A:{n+}. ';
}

h2.Numbered2
{
	mc-auto-number-format: 'A:{n}.{n=1}. ';
}

h2.Numbered2_
{
	mc-auto-number-format: 'A:{n}.{n+}. ';
}

MadCap|xref.Numbered
{
	mc-format: '{paranum}{paratext}';
}

MadCap|xref.NavLink:visited
{
	color: #ffffff;
}

img
{
	max-width: 100%;
	height: auto;
}

.img-responsive
{
	max-width: 100%;
	width: auto;
}

html
{
	font-size: 16px;
}

