P  {
	font-size : 1pc;
	font-weight : normal;
	margin-top : 5px;
	margin-bottom : 15px;
}

H1  {
	font-family : helvetica, arial, sans-serif;
	font-weight : bold;
	font-size : 200%;
	margin-top : 5;
}

H2  {
	font-size : 150%;
	font-family : helvetica, arial, sans-serif;
	font-weight : bold;
	margin-bottom : 0;
}

H3  {
	font-size : 125%;
	font-family : helvetica, arial, sans-serif;
	font-weight : bold;
	margin-bottom : 0;
}


H4  {
	font-size : 115%;
	font-family : helvetica, arial, sans-serif;
	font-weight : bold;
	margin-bottom : 0;
}

A  {}

A:Visited  {}

A:Active  {}

A:Hover  {}

A.glossary {
	font-style : normal;
	text-decoration : none;
	color : navy;
}

A.button {
	font-style : normal;
	text-decoration : none;
	font-family : sans-serif;
	color : black;
}

TD.button {
	background-color : #dcdcdc;
	padding-top : 0px;
	padding-bottom : 3px;
	padding-left : 6px;
	padding-right : 6px;
}

BODY  {
	background-color : white;
	font-family : times, times new, times new roman, serif;
}

H3.TOC  {
	margin-left : 40px;
	font-size : medium;
	font-family : sans-serif;
	font-weight : bold;
}

UL.TOC80  {
	margin-left : 80px;
	list-style-type : disk;
	margin-bottom : 20px;
	margin-top : 0;
}

UL.navbar  {
	list-style-type : square;
}

P.navbar  {
	font-size : 0.9pc;
	margin-left : 1pc;
	text-indent : -1pc;
	margin-top : 3px;
	margin-bottom : 3px;
}

.inline  {
	font-family : helvetica, arial, sans-serif;
	font-weight : bold;
	font-size : 90%;
}

.indent  {
	margin-left : 40px;
}

DL  {
	margin-top : 0.5pc;
}

DT  {
	font-size : 1em;
	margin-bottom : 2px;
}

DD  {
	font-size : 1em;
	margin-bottom : 2px;
}

LI {
	font-size : 1em;
}

TR  {
	vertical-align : top;
}

TD {
	font-size : 1em;
}

PRE  {}

.nav  {
	font-family : helvetica, arial, sans-serif;
	font-weight : bold;
	font-size : 12;
	text-align : center;
}

.user  {
	font-family : serif;
	font-style : italic;
}

.codesmall  {
	font-family : monospace;
	font-size : x-small;
}

.logo  {
	margin-top : 0;
	margin-bottom : 0;
}

TT  {
	color : DarkSlateBlue;
	font-size : 110%;
}

code  {
	font-size : 100%;
	font-family : courier, courier new, monospace;
}

PRE.example  {
	background-color : #f0f0f8;
	padding : 10;
}

.tt  {
	margin-left : 40 px;
	color : DarkSlateBlue;
}

.GUI  {
	font-family : helvetica, arial, sans-serif;
	font-size : 85%;
	font-weight : normal;
}

.HB  {
	font-family : helvetica, arial, sans-serif;
	font-weight : bold;
}

.title  {
	font-weight : bold;
	font-family : helvetica, arial, sans-serif;
	color : rgb(160,1,69);
	text-align : center;
	margin-top : 0;
	margin-bottom : 0;
	border-bottom-width : thin;
	border-style : none;
	border-left-width : 0;
	border-right-width : 0;
	border-top-width : 0;
	padding-bottom : 5;
	border-width : 0;
}


.warning  {
	font-weight : bold;
	font-size : xx-large;
	font-family : helvetica, arial, sans-serif;
	color : rgb(255,0,0);
	text-align : center;
	margin-top : 0;
	margin-bottom : 0;
	border-bottom-width : thin;
	border-style : none;
	border-left-width : 0;
	border-right-width : 0;
	border-top-width : 0;
	padding-bottom : 5;
	border-width : 0;
}

.sidenav  {
	font-size : 12;
	font-family : sans-serif;
	font-weight : normal;
	margin-left : 0;
	margin-right : 0;
	margin-top : 0;
	margin-bottom : 0;
	padding : 0;
	border-style : none;
	border-left-width : 0;
	border-top-width : 0;
	border-bottom-width : 0;
	border-width : 0;
	border-right-width : 0;
	padding-bottom : 5;
}

BODY.header  {
	background-color : #dcdcdc;
	margin-left : 5;
	margin-top : 5;
}

.sidenavtable  {
	font-size : 12;
	font-family : sans-serif;
	margin-left : 0;
	margin-right : 0;
	margin-top : 0;
	margin-bottom : 0;
	padding : 0;
	border-left-width : 0;
	border-right-width : 0;
	border-top-width : 0;
	border-bottom-width : 0;
	border-width : 0;
	border-color : 0;
	border-style : none;
	font-weight : normal;
	background-color : #dcdcdc;
	padding-bottom : 5;
}

H3.space  {
	margin-top : 50;
}

.question  {
	font-family : sans-serif;
	font-weight : bold;
	color : Red;
}

.PythonComment  {
	font-style : italic;
	color : #b22222;
}
.PythonFunction  {
	font-weight : bold;
	color : #0000ff;
}
.PythonKeyword  {
	font-weight : bold;
	color : #a020f0;
}
.PythonQuoted  {
	font-weight : bold;
	color : #bc8f8f;
}

.schrogreen {
	color : #002F30 ;
}

.schrored {
	color : #A41128 ;
}

.combiglide {
	color : #15839C ;
}

.epik {
	color : #A56249 ;
}

.glide {
	color : #00804E ;
}

.jaguar {
	color : #ED171F ;
}

.liaison {
	color : #9C1284 ;
}

.ligprep {
	color : #C99920 ;
}

.macromodel {
	color : #1F60A9 ;
}

.maestro {
	color : #A00145 ;
}

.mcpro {
}

.phase {
	color : #5871B3 ;
}

.prime {
	color : #506F6C ;
}

.primex {
}

.qikprop {
	color : #019583 ;
}

.qsite {
	color : #735AA8 ;
}

.strike {
	color : #FF5C00 ;
}

