b.cBold
{
  font-weight: bold
}
code.cCode
{
  font-family: Courier New, Courier, mono
}
code.cCodeEmphasis
{
  font-family: Courier New, Courier, mono;
  font-style: italic
}
em.cEmphasis
{
  font-style: italic
}
code.cGUI
{
  font-family: Arial, Verdana, Helvetica, sans-serif
}
sub.cSubscript
{
  vertical-align: sub
}
sup.cSuperscript
{
  vertical-align: super
}
u.cUnderline
{
  text-decoration: underline
}

p.pBody
{
  color: Black;
  font-family: Verdana;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pBodyNoteRelative
{
  color: #990033;
  font-family: Verdana;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pBodyRelative
{
  color: Black;
  font-family: Verdana;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pCellBody
{
  color: Black;
  font-family: Verdana;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pCellBodyCode
{
  color: Black;
  font-family: Courier New, Courier, mono;
  font-size: 90%;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pCellHeading
{
  color: Black;
  font-family: Verdana;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: center;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pGroupTitlesIX
{
  color: #006699;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pHeading1
{
  color: #336699;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pHeading1Rule
{
  color: #336699;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h3.pHeading2
{
  color: #336699;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h4.pHeading3
{
  color: #336699;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h5.pHeading4
{
  color: #336699;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: italic;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndented1
{
  color: Black;
  font-family: Verdana;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 1.5em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndented1CodeRelative
{
  color: Black;
  font-family: Courier New, Courier, mono;
  font-size: 90%;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 3.0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndented1Relative
{
  color: Black;
  font-family: Verdana;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndented2
{
  color: Black;
  font-family: Verdana;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 2.5em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndented2CodeRelative
{
  color: Black;
  font-family: Courier New, Courier, mono;
  font-size: 90%;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 3.0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndented2Relative
{
  color: Black;
  font-family: Verdana;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndented3
{
  color: Black;
  font-family: Verdana;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 6.0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndented3Code
{
  color: Black;
  font-family: Courier New, Courier, mono;
  font-size: 85%;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 6.0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndented3CodeRelative
{
  color: Black;
  font-family: Courier New, Courier, mono;
  font-size: 90%;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 3.0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndented3Relative
{
  color: Black;
  font-family: Verdana;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndented4
{
  color: Black;
  font-family: Verdana;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 10em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndented5
{
  color: Black;
  font-family: Verdana;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 12.5em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndentedRelative
{
  color: Black;
  font-family: Verdana;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 2.5em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pLevel1IX
{
  color: Black;
  font-family: Verdana;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 2.5em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pLevel2IX
{
  color: Black;
  font-family: Verdana;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 5em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pLevel3IX
{
  color: Black;
  font-family: Verdana;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 7.5em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pLevel4IX
{
  color: Black;
  font-family: Verdana;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 10em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pLevel5IX
{
  color: Black;
  font-family: Verdana;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 12.5em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pNewHTMLPage
{
  color: #336699;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pNewHTMLPageNoRule
{
  color: #336699;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pPreformatted
{
  color: Black;
  font-family: Courier New, Courier, mono;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pPreformattedRelative
{
  color: Black;
  font-family: Courier New, Courier, mono;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pSmartList1
{
  color: Black;
  font-family: Verdana;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 1em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pSmartList2
{
  color: Black;
  font-family: Verdana;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pSmartList3
{
  color: Black;
  font-family: Verdana;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pSmartList4
{
  color: Black;
  font-family: Verdana;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pSmartList5
{
  color: Black;
  font-family: Verdana;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pTableTitle
{
  color: Black;
  font-family: Verdana;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pTableTitleLeft
{
  color: Black;
  font-family: Verdana;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pTitle
{
  color: #003366;
  font-family: Verdana;
  font-size: 25px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pTOC1
{
  color: Black;
  font-family: Verdana;
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pTOC2
{
  color: Black;
  font-family: Verdana;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 2.5em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pTOC3
{
  color: Black;
  font-family: Verdana;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 5em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pTOC4
{
  color: Black;
  font-family: Verdana;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 7.5em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pTOC5
{
  color: Black;
  font-family: Verdana;
  font-size: 9px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 10em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pVersonNoteBottom
{
  color: Black;
  font-family: Verdana;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pVersonNoteTop
{
  color: #336699;
  font-family: Verdana;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}

